<div class="container text-white text-center">
  <div class="top-title amongus-font">
    @E
  </div>
  <div>
    <div class="border-bottom border-white d-inline-block">
      information
    </div>
  </div>
  <div class="swiper-container border border-white p-3 m-3 d-inline-block">
    <div class="swiper-wrapper">
      <% @events.each do |event| %>
        <div class="text-danger swiper-slide">
          <%= event.start_datetime.strftime('%Y/%m/%d %H:%M') %><br><br>
          <%= event.message %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%=  link_to "EVENT", events_path, class: "btn btn-dark border-white btn-lg amongus-font" %>
  </div>
</div>

<%= javascript_pack_tag "swiper" %>
