<div class="container mt-5 mb-5 text-white border border-white">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="top-app text-family2 privacy-border mx-auto">
                <div class="text-center terms-title">
                    <h3>プライバシーポリシー</h3>
                </div>
                <div class="text-left terms-text mx-auto">
                <div class="terms-text-content">
                    <p> Among Use（以下，「当事務局」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>
                </div>
                <h4 class="terms-text-subtitle">第1条（アクセス解析ツール）</h4>
                    <ol>
                        <li>当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を使用しています。このGoogleアナリティクスはデータの収集のためにCookieを使用しています。</li>
                        <li>この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細はGoogleアナリティクスサービス利用規約やGoogleポリシーと規約をご覧ください。</li>
                    </ol>
                </div>
                    <h4 class="terms-text-subtitle">第2条（お問い合わせ窓口）</h4>
                    <p>下記開発者にお問い合わせください。</p>
                    <ol>
                        <li>坂本航祐 (15期生)</li>
                        <li>先田大樹 (16期生)</li>
                        <li>鈴木基道 (16期生)</li>
                        <li> 齋藤泉 (17期生)</li>
                        <li>峯岸 佑乃介 (17期生)</li>
                    </ol>
                </div>
                    <div class="text-center">
                        <p>以上</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>