<div class="container mt-5 mb-5 text-white border border-white">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="top-app text-family2 privacy-border mx-auto">
            <div class="text-center terms-title">
                <h3>利用規約</h3>
            </div>
            <div class="text-left terms-text mx-auto">
            <div class="terms-text-content">
                <h4 class="terms-text-subtitle">利用規約</h4>
                <p>この利用規約（以下，「本規約」といいます。）は，Among Use（以下，「当事務局」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。RUNTEQ生の皆さま（以下，「ユーザー」といいます。）には，"<span class="text-danger">できれば</span>"本規約に従って，本サービスをご利用いただきます。</p>
            </div>
            <div class="terms-text-content">
                <h4 class="terms-text-subtitle">第1条（禁止事項）</h4>
                <p>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
                <p>「ﾙｰﾙｦﾏﾓｯﾃﾀﾉｼｸｱﾓｱｽ」</p>
                <ol>
                    <li>RUNTEQのカリキュラムに支障が出るほどの利用</li>
                    <li>Vimハラスメント、及びVS codeへの過度な否定</li>
                    <li>MVCフレームワークへの未理解</li>
                    <li>現場Railsを購入しないという決断</li>
                    <li>理解しないまま次の課題へ着手</li>
                    <li>Imposterはゲーム上の設定であるのにもかかわらず、あたかも現実のようにImposterを嘘つき呼ばわりする行為</li>
                    <li>その他RUNTEQコミュニティオ内で好ましく思われていない行為全て(判断基準はRUNTEQの校長、並びに運営ではなく当事務局に従うものとする。「vimﾊﾗ, ﾀﾞﾒｾﾞｯﾀｲ.」)</li>
                </ol>
            </div>
            <div class="terms-text-content">
                <h4 class="terms-text-subtitle">第2条（利用者に関する要件）</h4>
                <p>本サービスを利用するには、以下の項目に必ず該当する必要があります。</p>
                <ol>
                    <li>12 歳以上40 歳未満</li>
                    <li>本サービスを利用するその日にプログラミング学習を1時間以上終えている方</li>
                    <li>本サービス開発者のTimes全てに参加している方</li>
                    <li>本サービス開発者のサービスにユーザ登録している方</li>
                </ol>
            </div>
            <div class="terms-text-content">
                <h4 class="terms-text-subtitle">第3条（本サービスの変更）</h4>
                <p>Among Use は常に本気でサービスの変更と改善を行っているつもりです。
                パフォーマンスやセキュリティの改善、機能の変更、法令遵守のための変更、またはシステムを利用した違法行為や不正行為の防止のため、
                本サービスやその一部を変更または廃止する必要が生じることがあります。
                この変更により、すべてのユーザー、一部のユーザー、または特定のユーザーに影響が及ぶ可能性があります。
                本サービスの利用に支障が生じる本サービスの廃止または重要な変更が行われる際には、なるべく合理的にできるだけ可能な限り通知するようにします。
                ただし、本サービスのセキュリティおよび動作を改善するため、
                不正行為を防止するため、または法的義務を遵守するために対策が必要と判断される場合などに、
                Among Use が予告無しにそのような変更を行う可能性があることをお客様は理解し、完全同意するものとします。</p>
            </div>
            <div class="text-center">
                <p>以上</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
