<div class="container p-5 text-white">
  <div class="border border-white p-5">
    <div class="col-6">
    </div>
    <div class="col-6">
      <p class="text-danger">name</p>
      <p class="text-danger">mattermost_times_url</p>
        <%= @profile.mattermost_times_url %>
      <p class="text-danger">message</p>
        <%= @profile.message %><br>
    </div>
  </div>
</div>
