<div class="col-md-6 col-xl-3">
  <div class="container py-5 text-center">
    <div class="image">
      <%= image_tag "300x300.png", class: "rounded-circle", size: "200x200" %>
    </div>
    <%= user.name %><br>
    <%= user.profile.message %><br>
  </div>
</div>