<div class="col-md-6 col-xl-3">
  <div class="container py-5 text-center">
  <%= link_to user_path(user), class: "text-light text-decoration-none" do %>
    <div class="image">
      <%= image_tag "300x300.png", class: "rounded-circle", size: "200x200" %>
    </div>
    <%= user.name %><br>
    <div class="text-overflow">
      <%= user.profile.message.truncate(20) %>
    </div>
  <% end %>
  </div>
</div>