<div class="container text-white text-center">
  <div class="top-title amongus-font">
    CREWS
  </div>
  <div class="row">
    <%= render @users %>
  </div>
  <div class="d-flex justify-content-center mb-5">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>