  <!--オーバーレイ-->
  <div id="overlay" class="overlay js-close"></div>

  <!--イベント詳細モーダル-->
  <div class='event-show-modal'></div>

  <div class="modal-window border border-white p-3 text-white">
    <div class="d-flex justify-content-end mt-1">
      <button class="btn btn-dark btn-lg border-white d-flex justify-content-end js-close button-close"><i class="fas fa-times"></i></button>
    </div>
    <div class="text-center title mb-1">EventCreate</div>
    <%= render 'shared/event_form' %>
  </div>

