// カレンダー

// 月
.fc-toolbar-title {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

// 今日の日付
.fc-day-today{
  background-color: #dc354526 !important;

  .fc-daygrid-day-number {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .fc-daygrid-day-number:hover {
    color: rgb(202, 32, 32);
    text-decoration: none;
    cursor: pointer;
  }
}

// 未来の日付
.fc-day-future{
  .fc-daygrid-day-number {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .fc-daygrid-day-number:hover {
    color: rgb(202, 32, 32);
    text-decoration: none;
    cursor: pointer;
  }
}

// 過去の日付
.fc-day-past{
  .fc-daygrid-day-number {
    color:#dddddd61;
    text-decoration: none;
    cursor: default;
  }
}

// 他の月&未来の日付
.fc-day-other.fc-day-future{
  .fc-daygrid-day-number {
    color:#dddddd61;
    text-decoration: none;
  }
  .fc-daygrid-day-number:hover {
    color:#dddddd61;
    text-decoration: none;
    cursor: default;
  }
}
// 他の月&過去の日付
.fc-day-other.fc-day-past{
  .fc-daygrid-day-number {
    color:#dddddd61;
    text-decoration: none;
    cursor: default;
  }
  .fc-daygrid-day-number:hover {
    color:#dddddd61;
    text-decoration: none;
  }
}

// 曜日
.fc-col-header-cell.fc-day {
  background-color: #2c3e50;
  .fc-col-header-cell-cushion {
    color: white;
    text-decoration: none;
  }
}

// イベント作成ボタン
.create-event-button-text{
  color: white;
  text-decoration: none;
  border: 2px solid;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  padding: 6px 45px;
}
.create-event-button-text:hover{
  color: red;
}


.delete-event-button-text{
  color: rgb(243, 19, 19);
  text-decoration: none;
  border: 2px solid;
  border-radius: 6px;
  text-decoration: none;
  padding: 6px 45px;
}
.delete-event-button-text:hover{
  color: rgb(151, 5, 5);
}


// アバターの配置
.event_user_avater_name{
  font-size: 13px;
}