.start-list {
    text-align:center; /* 中央揃え */
    letter-spacing:7em;
}

.start-content {
    font-size:14px;
    display:inline-block;
    vertical-align:middle; /* 縦位置中央揃え */
    letter-spacing:0em;
}

.end-list {
    text-align:center; /* 中央揃え */
    letter-spacing:8em;
}

.end-content {
    font-size:14px;
    display:inline-block;
    vertical-align:middle; /* 縦位置中央揃え */
    letter-spacing:0em;
}

.crew-list{
    text-align:center; /* 中央揃え */
    letter-spacing:15em;
}

.crew-content {
    font-size:14px;
    display:inline-block;
    vertical-align:middle; /* 縦位置中央揃え */
    letter-spacing:0em;
}

.rule-list{
    text-align:center; /* 中央揃え */
    letter-spacing:15em;
}

.rule-content {
    font-size:14px;
    display:inline-block;
    vertical-align:middle; /* 縦位置中央揃え */
    letter-spacing:0em;
}

.message-list{
    text-align:center; /* 中央揃え */
    letter-spacing:14em;
}

.message-content{
    font-size:14px;
    display:inline-block;
    vertical-align:middle; /* 縦位置中央揃え */
    letter-spacing:0em;
}

// Editボタン
.Edit-event-button-text{
    color: white;
    text-decoration: none;
    border: 2px solid;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    padding: 6px 45px;
}
.Edit-event-button-text:hover{
color: red;
}