// Place all the styles related to the user_sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top-title {
  font-size: 6rem;
}

.event-btn {
  font-size: 3rem;
}

.top-character-left {
  position: fixed;
  left: -10%;
  bottom: -10%;
  transform: rotate(30deg);
  z-index: 10;
}

.top-character-right {
  position: fixed;
  left: 0%;
  bottom: -15%;
  transform: rotate(20deg);
}

// .container {
//   position: relative;
//   overflow: visible;
// }