<div class="row fixed-bottom">
  <div class="d-flex justify-content-center mb-3">
    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3 text-white"> &copy; 2021 among-use </div>
    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <%= link_to "利用規約",   '#', class: 'text-white text-decoration-none' %> </div>
    <div class="d-inline-flex justify-content-center px-2 px-md-2 px-lg-3 pt-3"> <%= link_to "プライバシーポリシー", '#', class: 'text-white text-decoration-none' %> </div>
  </div>
</div>